body {

    background-color: #e0e4094b;
}

h1 {

    color: #6670cd;

}

.job-title {

    color: #f5fffa;
    background-color: #4c4d5f;
}

#high {

    color: #6670cd;
}

.ul {

    background-color: #4c4d5f;
    color: #fdf5e6;

}

a {
color: #020a38;

}