/* * {

    color: #87cefa;
    font-size: 40px;
} */

.main-title {

    color: #237023;
 
}

.main-subtitle {

    color: #0b8200;

}

.post {

    background-color: #80f0e7;

}

/* #firstPostTitle {

    color: #00ff00;
} */